<!DOCTYPE html>
<html>
<head>
    <title><?=Config::get('site_name')?></title>
<meta name="robots" content="noindex" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/css.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/datepicker3.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!--Icons-->
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/js/lumino.glyphs.js"></script>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <script src="/js/admin.js"></script>
    <!-- Подключаем красивый редактор -->


</head>
<body>



<?php if(isset($_SESSION['role']) && $_SESSION['role']=='admin'){ ?>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin/settings/"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                        <li><a href="/admin/users/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li <?php if( App::getRouter()->getController() == 'statistics' ) {?>class="active"<?php } ?> ><a href="/admin/"><svg class="glyph stroked dashboard dial"><use xlink:href="#stroked-dashboard-dial"/></svg> Dashboard </a></li>

        <li <?php if( App::getRouter()->getController() == 'contacts' ) {?>class="active"<?php } ?> ><a href="/admin/contacts/"><svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages"/></svg>Обратная связь</a></li>

        <li <?php if( App::getRouter()->getController() == 'mail' ) {?>class="active"<?php } ?>><a href="/admin/mail"><svg class="glyph stroked email"><use xlink:href="#stroked-email"/></svg>Почтовая рассылка</a></li>
        <li <?php if( App::getRouter()->getController() == 'blog' ) {?>class="active"<?php } ?>><a href="/admin/blog"><svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></svg>Блог</a></li>
        <li <?php if( App::getRouter()->getController() == 'translate' ) {?>class="active"<?php } ?>><a href="/admin/translate"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg>Переводчик</a></li>
        <li class="parent ">
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/><a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a></div>
</div><!--/.sidebar-->

<?php } ?>
<div class="my-container_footer">


    <div class="starter-template">
        <?php if( Session::hasFlash() ){ ?>
        <div class="alert alert-info" role="alert">
            <?php Session::flash(); ?>
        </div>
        <?php } ?>

        <?=$data['content']?>
    </div>

</div>
</body>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/chart.min.js"></script>

<script src="/js/chart-data.js"></script>

<script src="/js/easypiechart.js"></script>

<script src="/js/easypiechart-data.js"></script>

<script src="/js/bootstrap-datepicker.js"></script>

<script src="/js/bootstrap-table.js"></script>
<script>
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>



</html>