body {

    margin: 0;
    font-family: 'Arimo', sans-serif;
    top:0;
    left:0;
}

.languages{
    text-align:right;
    padding-top:27px;
    padding-right:250px;
    color:#8a8ba3;
}
.languages a{
    color:#8a8ba3;
}
.languages span{
    padding-left:5px;
    padding-right:5px;
    font-size:25px;
    opacity:0.5;
}
.silver{
    font-size:24px;
    color:#b1b1c0;
    padding-top:80px;
    padding-bottom:20px;
}
.half_container{
    width:80%;
    margin:0 auto;
}

.logo{
    position:absolute;
    top:100px;
}
.back_to_top a{
    color:#fff;
}
.menu_pazzle{
    position: absolute;bottom: 0px;right: 0;
    transform: rotate(180deg);
}
.menu_pazzle img{
    width:267px;
}
.blog_inside_title{
    font-size:24px;
    font-weight:600;
    color:#414371;
    padding-top:50px;
}
.blog_inside_date{
    font-size:18px;
    font-weight:400;
    color:#bcbdc9;
    padding-top:10px;
    padding-bottom:80px;
}
.blog_inside_first_text{
    font-size:22px;
    font-weight:300;
    color:#414371;
    line-height:30px;
    padding-bottom:40px;
}
.blog_inside_last_text{
    font-size:22px;
    font-weight:300;
    color:#414371;
    padding-top:40px;
    line-height:30px;
    padding-bottom:80px;
}
/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::after, *::before {
    content: '';
}



a {
    color:#414371 ;
    text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */
html, body {
    height: 100%;
}

header {
    z-index: 3;
}

.cd-logo, .cd-nav-trigger {
    position: fixed;
    display: inline-block;
    width:250px;
}
.text_logo{
    text-align:right;
    position:absolute;
    top:0;
    left:90px;
    font-size:24px;
    text-transform: uppercase;
    padding-top:30px;
}
.company_logo img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.cd-logo {
    left: 5%;
}


.cd-nav-trigger {
    top: 18px;
    right: 5%;
    height: 44px;
    width: 44px;
    z-index: 5;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.cd-nav-trigger .cd-icon {
    /* icon created in CSS */
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 3px;
    background-color: #414371;
    z-index: 10;
}
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon:after {
    /* upper and lower lines of the menu icon */
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #414371;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* apply transition to transform property */
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}
.cd-nav-trigger .cd-icon::before {
    -webkit-transform: translateY(-6px) rotate(0deg);
    -moz-transform: translateY(-6px) rotate(0deg);
    -ms-transform: translateY(-6px) rotate(0deg);
    -o-transform: translateY(-6px) rotate(0deg);
    transform: translateY(-6px) rotate(0deg);
}
.cd-nav-trigger .cd-icon::after {
    -webkit-transform: translateY(6px) rotate(0deg);
    -moz-transform: translateY(6px) rotate(0deg);
    -ms-transform: translateY(6px) rotate(0deg);
    -o-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
}
.cd-nav-trigger::before, .cd-nav-trigger::after {
    /* 2 rounded colored backgrounds for the menu icon */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}
.soc{
    font-size:24px;
    color:#424370;
    text-align:left;
    padding-bottom:10px;
}
.cd-nav-trigger::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.cd-nav-trigger::after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
.cd-nav-trigger.close-nav::before {
    /* user clicks on the .cd-nav-trigger element - 1st rounded background disappears */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.cd-nav-trigger.close-nav::after {
    /* user clicks on the .cd-nav-trigger element - 2nd rounded background appears */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 20s;
}
.cd-nav-trigger.close-nav .cd-icon {
    /* user clicks on the .cd-nav-trigger element - transform the icon */
    background-color: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.close-nav .cd-icon::before, .cd-nav-trigger.close-nav .cd-icon::after {
    background-color: #414371;
}
.cd-nav-trigger.close-nav .cd-icon::before {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}
.cd-nav-trigger.close-nav .cd-icon::after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.cd-primary-nav {
    /* by default it's hidden */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 80px 5%;
    z-index: 3;

    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.3s;
    -moz-transition: visibility 0s, opacity 0.3s;
    transition: visibility 0s, opacity 0.3s;
}
.cd-primary-nav li {
    margin: 1.6em 0;
    font-weight:600;
    text-align: right;
    text-transform: capitalize;
}
.cd-primary-nav a {
    font-size: 20px;
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}
.no-touch .cd-primary-nav a:hover {
    color: #ffffff;
}
.cd-primary-nav.fade-in {
    /* navigation visible at the end of the circle animation */
    visibility: visible;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-primary-nav li {
        margin: 2em 0;
    }
    .cd-primary-nav a {
        font-size: 28px;
        font-size: 1.75rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-primary-nav li {
        margin: 2.6em 0;
    }
    .cd-primary-nav a {
        font-size: 32px;
        font-size: 2rem;
    }
}

.cd-overlay-nav, .cd-overlay-content {
    /* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
    position: fixed;
    top: 18px;
    right: 5%;
    height: 4px;
    width: 4px;
    -webkit-transform: translateX(-20px) translateY(20px);
    -moz-transform: translateX(-20px) translateY(20px);
    -ms-transform: translateX(-20px) translateY(20px);
    -o-transform: translateX(-20px) translateY(20px);
    transform: translateX(-20px) translateY(20px);
}
.cd-overlay-nav span, .cd-overlay-content span {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.cd-overlay-nav.is-hidden, .cd-overlay-content.is-hidden {
    /* background fades out at the end of the animation */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 50s 0s, visibility 0s .3s;
    -moz-transition: opacity 50s 0s, visibility 0s .3s;
    transition: opacity 50s 0s, visibility 0s .3s;
}

.cd-overlay-nav {
    /* main rounded colored bg 1 */
    z-index: 2;
}
.cd-overlay-nav span {
    background-color: #fff;
}

.cd-overlay-content {
    /* main rounded colored bg 2 */
    z-index: 4;
}
.cd-overlay-content span {
    background-color: #414371;
}

.cd-content {
    /* just some dummy content */
    padding: 80px 0;
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    z-index: 1;
}
.cd-content .cd-intro {
    height: 200px;
    padding-top: 4.6em;
}
.cd-content h1 {
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
}
.cd-content p {
    line-height: 1.5;
    color: #a76500;
}
@media only screen and (min-width: 768px) {
    .cd-content .cd-intro {
        height: 250px;
        padding-top: 6em;
    }
    .cd-content h1 {
        font-size: 28px;
        font-size: 1.75rem;
    }
    .cd-content p {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.8;
    }
}
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.button_block{
    width:5px;
    height:5px;
}
.blog_picture{
    background: url(/img/About.jpg) no-repeat;
    height: 440px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: top;
    margin-bottom:40px;
}
.theme{
    color:#fff;
    font-size:18px;
    font-weight:400;
    padding-top:40px;
    padding-left:30px;
}
.quo {
    font-size: 150px;
    margin: 0 auto;
    color: #ccc;
    top: 21px;
    transform: translateX(-50%);
    font-weight: bold;
    position: relative;
    left: 50%;
}
.float_left{
    float:left;
}
.perc_info{
    margin-top:50px;
}
.main_textarea{
    background:none;

    text-align:left;
    width:70%;
}
.title_block{
    background:none;
    text-align:center;
    min-width:100%;
}
.icon_textarea{
    background:none;

    text-align:center;
    width:100%;
    min-height:100px;
}
.middle {
!important;
    font-size: 24px;
    text-align: center;
    color: #fff;
!important;
    background: none;
}

.middle_textarea {
    font-size: 24px;
    text-align: center;
    color: #fff;
    background: none;
    width: 110%;
    min-height: 150px;
}
.my-container_footer{
    width:80%;
    margin:0 auto;
}

.blocks {
    font-size: 24px;
    text-align: left;
    color: #424370;
    background: none;
}

.blocks_textarea {
    font-size: 20px;
    text-align: left;
    background: none;
    min-height: 150px;
}
.progress{
    width:80%;
}
.percents_text{
    text-align:left;
    color:#fff;
    position:absolute;
    padding-top:20px;
    padding-bottom:20px;
}
.percents{
    text-align:right;
     padding-top:20px;
    color:#fff;
    padding-bottom:20px;
}

.pr_about{
    font-size:18px;
    color:#fff;
    position:absolute;
}
.percent{
    font-size:18px;
    color:#fff;
    text-align:right;
}
.float_right{
    float:right;
}
.padding{
    padding-top:50px;
}

.gallery{
    height:440px;
}
.gallery1{
    background:url('/gallery/about.jpg');
    background-size: cover;
}
.gallery2{
    background:url('/gallery/about2.jpg');
    background-size: cover;
}
.gallery3{
    background:url('/gallery/about3.jpg');
    background-size: cover;
}
.add_photo3{

}
.gold{
    font-size:24px;
    color:#424370;
    text-align:center;
    padding-top:80px;
    padding-bottom:20px;
}
.center{
    text-align:center;
}

.club_my_container{
    width:200px;
    margin:0 auto;
    position:relative;

    height:370px;
}
.club_describe{
    font-weight:400;
    font-size:20px;
    text-align: left;
    color:#a3a3a3;



}
.club_adv{
    font-size:28px;
    color:#424370;
    font-weight:600;
    padding-top:20px;
    text-transform: uppercase;
    padding-bottom:40px;

}
.pazzle{
    width:200px;
    height:30px;

    background:url('/img/club_pazzle.png') no-repeat;
}


.news_main{
    font-size:24px;
    color:#414371;
    padding-top:40px;
    padding-left:10px;
    font-weight:600;
}
.news_date{
    font-size:18px;
    color:#b0b1c0;
    padding-top:20px;
    padding-left:10px;
    font-weight:600;
}
.news_info{
    font-size:22px;
    color:#414371;
    padding-top:20px;
    padding-right:10px;
    padding-left:10px;
    font-weight:400;
}

.check, dl, dt, dd,  ol, nav, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, a {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    background-repeat: no-repeat;
}


.expereince{
    font-size:20px;
    color:#fff;
    margin-right:0;
    padding-bottom:10px;


}
.nav-tabs li a{
    color:#b1b1c0;
    font-size:24px;
    padding-top:80px;
    padding-bottom:20px;
}
.nav-tabs li{
    width:33%;float:left;
    padding-bottom:20px;
}
.nav-tabs{
    position:relative;
}

.nav-tabs li:nth-child(2){
    text-align: center;
}
.nav-tabs li:nth-child(3){
    text-align: right;
}

.nav-tabs li a:hover, .nav-tabs li.active a, .nav-tabs li.active a:hover {
    color:#424370;
    font-size:24px;
    padding-top:80px;
    padding-bottom:20px;
}
.down{
    bottom:0;
    position:absolute;
    width:100%;
}
.imza_club{
    font-size:23px;
    color:#fff;
    padding-top:20px;
    width:600px;margin:0 auto;
    text-align:center;
}
.main_title {
    position: absolute;
    width: 700px;

    left: 80px;
    bottom: 40px;
    text-transform: uppercase;
}
h1{
    font-size:28px;
    text-align:left;
    padding-bottom:20px;
    font-weight:600;
    color: #fff;
}
.mobile{
    width:300px;margin:0 auto;
}
#work{
    position:relative;
}
.logo_pic{
    display: block;
    width: 70px;
    padding-top: 5px;
}
.left_img{
    position:absolute;
    left:0;top:40px;

}

.money{
    background: url(/img/money.png) no-repeat center;
}
.key{
    background: url(/img/key.png) no-repeat center;
}
.user{
    background: url(/img/user.png) no-repeat center;
}
.lamp{
    background: url(/img/lamp.png) no-repeat center;
}
.hands{
    background: url(/img/hands.png) no-repeat center;
}
.office{
    background: url(/img/office.png) no-repeat center;
}
.invest{
    background: url(/img/invest.png) no-repeat center;
}
.lead{
    background: url(/img/lead.png) no-repeat center;
}

.shield{
    background: url(/img/shield.png) no-repeat center;
}
.time{
    background: url(/img/time.png) no-repeat center;
}
.stats{
    background: url(/img/stats.png) no-repeat center;
}
.loop{
    background: url(/img/loop.png) no-repeat center;
}
.team{
    background: url(/img/team.png) no-repeat center;
}
.talk{
    background: url(/img/talk.png) no-repeat center;
}

.loop{
    background: url(/img/loop.png) no-repeat center;
}
.right_img{
    position:absolute;
    right:0;top:40px;
}
.for_bc{
    background-color: #000;
    opacity: 0.5;
}
/* HEADER */
.text_top {
    font: 400 25px "Roboto", sans-serif;
    color: #fff;
    padding-top: 50px;
    text-align: left;
    border-bottom: 1px solid #fff;
}
:before,:after{
    box-sizing: border-box;
}
.text_top1 {
    font: 400 38px "Roboto", sans-serif;
    color: #414371;
    padding-top: 40px;
    padding-bottom:40px;
    text-align: center;
    text-transform: uppercase;
}
.p2{
    font-size: 14px;
    color:#fff;
    font-weight:300;
    padding-top:100px;
    text-align:center;
}
.text_top2 {
    font: 400 24px "Roboto", sans-serif;
    color: #fff;
    padding-top: 40px;
    padding-bottom:40px;
    text-align: center;
    text-transform: uppercase;
}


.new{
    text-transform: uppercase;
    padding-top:20px;
    font-size: 24px;
    color: #414371;
    font-weight: 400;
    text-align:center;
}

h2{
    font-size:17px;
}


.bc2 {
    position: relative;
    width: 100%;
    height: 500px;
    background: url(/img/bc2.jpg);
    background-size: cover;
    background-position: center;


}

.blog_img{
    width:300px;
    height:190px;
    margin:0 auto

}
.blog_text{
    width:300px;
    height:300px;
    border:1px solid #ccc;
    margin:-10px auto;
    background-color:#fff;
}

.blog_img img{
    width:100%;
}
.company_logo{

    height:110px;
    margin:80px 0 80px 0;
}

.bc3 {
    position: relative;
    width: 100%;
    height: 500px;
    background: url(/img/bc3.jpg);
    background-size: cover;
    background-position: center;


}
form{
    z-index:999;
}
.bc {
    position: relative;
    width: 100%;
    height: 442px;
    background: url(/img/main3.jpg);
    background-size: cover;
}

.index{
    z-index:999;
}




/* SECOND PART */

.trend_block {
    margin-top: -70px;
    z-index:1;
}
.trend_block2{
    margin-top: 70px;
    margin-bottom: 50px;
    z-index:999;
}


.icon span {
    /*padding:0 37px;*/
    display: block;
    /*width:100%;*/
    left: 0;
    top: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    margin: 0 auto;
    height: 65px;
    border-radius: 50%;
    padding-bottom:20px;
}
/* THIRD PART END */
.price_text3 {
    font: 400 29px "Roboto", sans-serif;
    color: #fff;
    padding-top: 100px;
    text-align: center;
}




.p1{
    font-size:36px;
    color:#222;
    font-weight:400;
    text-align:center;

}
.p12{
    font-size:36px;
    color: #333333;
    font-weight:700;
    text-align:center;
    text-transform: uppercase;
}

.p101{
    font-size:18px;
    color:#54567d;
    font-weight:400;
    text-align:center;
    padding-bottom:20px;
    padding-top:20px;

}

.p103{
    font-size:16px;
    color:#54567d;
    font-weight:400;
    text-align:center;
    padding-top:10px;

}
.my-form {
    position: relative;
    width: 340px;
    margin:0 auto;

    text-align: center;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: green; !important;
    background-image: none;
    color: rgb(0, 0, 0);
}
.margin-bottom_20{
    margin-bottom:20px;
}
.margin-bottom{
    margin-bottom:50px;
}
.margin-top{
    margin-top:50px;
}
#submitForm #name_form, #submitForm #email_form, #submitForm #phone_form, #submitForm textarea,
#applicationName, #applicationEmail, #applicationTelephone {
    width: 137px;
    height: 40px;
    margin-top: 10px;
    border: none;
    background:#ececf0;
    text-align: left;
    font: 300 12px/1.3 "Roboto", sans-serif;
    color: #000;
    left:0;
    padding-left: 15px;
    margin-right: 15px;


}
#submitForm #name_form2, #submitForm #email_form2, #submitForm #phone_form2, #submitForm textarea,
#applicationName, #applicationEmail, #applicationTelephone {
    width: 80%;
    height: 40px;
    border: none;
    background:#ececf0;
    text-align: left;
    font: 300 12px/1.3 "Roboto", sans-serif;
    color: #000;
    margin:0 auto;
    padding-left: 15px;
    display:block;
    position:relative;


}
#submitForm #name_form2, #submitForm #email_form2{
    margin-top:20px;
}
#submitForm textarea {
    height: auto;
    min-height: 100px;
    width:80%;
    max-height: 200px;
    font: 300 12px/3.3 "Roboto", sans-serif;


}

#submitForm #name_form:focus, #submitForm #email_form:focus, #submitForm #phone_form:focus, #submitForm textarea:focus,
#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}
#submitForm #name_form2:focus, #submitForm #email_form2:focus, #submitForm #phone_form:focus, #submitForm textarea:focus,
#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}

.form_result {
    text-transform: uppercase;
    text-align: center;
    color: red;
    padding: 10px 0;
}
.new32{
    font-size:30px;
    color:#fff;
    font-weight:600;
    text-transform: uppercase;
    text-align:center;
    padding-top:40px;
    padding-bottom:40px;
}
.button-01 {
    position: relative;
    margin: 50px auto;
    display: block;
    box-sizing: border-box;
    height: 43px;
    width: 175px;
    padding: 13px 10px 13px 10px;

    margin-bottom: 40px;
    text-align: center;
    background: none;
    border-radius: 8px;

    font: 400 12px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #834039;
    background: #834039;
    text-decoration: none;

}
.about_us_block{
    background:none;
    text-align:center;
    width:600px;
    min-height:200px;
}
.add{
    margin:200px auto;
    height:90px;
    width:90px;
}
.add2{
    margin:30px auto;
    height:90px;
    width:90px;
}
.total{
    width:100%;
}
.testim_block{
    min-width:110%;
    min-height:230px;
    text-align:center;
}
.button-04 {
    position: relative;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    height: 43px;
    width: 210px;
    padding: 13px 10px 13px 10px;

    margin-bottom: 60px;
    text-align: center;
    background: none;
    border-radius: 8px;

    font: 400 12px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #834039;
    background: #834039;
    text-decoration: none;

}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    padding-right:20px;
    font-size: 34px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #414371;
    text-decoration: none;
    cursor: pointer;
}



.button-02{
    position: relative;
    left:50px;
    margin-top:30px;
    margin-left:0;
    float:left;
    box-sizing: border-box;
    height: 43px;
    width: 210px;
    padding: 13px 10px 13px 10px;

    margin-bottom: 60px;
    text-align: center;

    border-radius: 5px;

    font: 400 12px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #414371;
    background: #414371;
    text-decoration: none;

}
.button-03{
    position: relative;
    margin:0 auto;
    display:block;
    box-sizing: border-box;
    height: 43px;
    width: 210px;
    padding: 13px 10px 13px 10px;

    margin-bottom: 60px;
    text-align: center;

    border-radius: 5px;

    font: 400 12px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #414371;
    background: #414371;
    text-decoration: none;
}
.button-10{
    position: relative;
   float:right;
    right:50px;
    box-sizing: border-box;
    height: 43px;
    width: 210px;
    margin-top:20px;
    padding: 13px 10px 13px 10px;

    margin-bottom: 60px;
    text-align: center;

    border-radius: 5px;

    font: 400 12px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #414371;
    background: #414371;
    text-decoration: none;
}







.p10 {
    font-weight: 300;
    font-size: 15px;
    padding: 10px 0 50px 50px;
    text-align: left;
    color: #577279;

}











hr {
    border: none; /*     Firefox */
    color: #9c6661; /*      */
    background-color: #9c6661; /*     Firefox  Opera */
    height: 2px; /*   */
    width: 134px;
    margin-bottom:0px;

}
.index{
    z-index:999;
}
.index-999{
    z-index:999999999;
}

.hr {
    border: none; /*     Firefox */
    color: #9c6661; /*      */
    background-color: #9c6661; /*     Firefox  Opera */
    height: 2px; /*   */
    width: 60px;
}
.footer_links{
    z-index:999;
    position:relative;
}
.footer_links a{
    color:#fff;
    font-weight:300;
    z-index:999;
    padding-bottom:50px;

}
.info_contacts{
    color:#fff;
    font-weight:400;
}
.footer_tags{
    color:#fff;font-size:18px;
    font-weight:600;
    padding-bottom:20px;
    padding-top:40px;

}

.title{
    height:120px;
    width:100%;
    background-color:#414371;
}

.title p {
    color:#fff;
    font-weight:600;
    font-size:36px;
    text-align:center;
    text-transform: uppercase;
    padding-top:50px;
}
.header_fixed{
    position:fixed;background-color:#fff;height:80px;width:100%;
}
.header{
    height:80px;
    position:relative;
    background-color:#fff;
}
.footer_right{
    background:url('/img/footer_bc.png');
    width:435px;
    height:344px;
    position:absolute;
    right:0;
    bottom:40px;
}
.footer_left{
    background:url('/img/footer_bc2.png');
    width:564px;
    height:434px;
    position:absolute;
    left:0;
   bottom:0;
    z-index: 0;

}
.hr_footer {
    border: none; /*     Firefox */
    color: #9c6661; /*      */
    background-color: #fff; /*     Firefox  Opera */
    height: 2px; /*   */
    width: 100%;
}




a {
    text-decoration: none;
}





.my-container .test3:nth-child(1) .master .icon3 span:first-child {
    background-image: url('/img/Masha.jpg');
}

.my-container .for:nth-child(1) .icon span:first-child {
    background-image: url('/img/icon3.png');
}

.my-container .for:nth-child(2) .icon span:first-child {
    background-image: url('/img/icon2.png');
}
.my-form {
    position: relative;
    width: 100%;
    margin: 0 auto;

    text-align: center;

}

.submitForm .name_form, .submitForm .email_form, .submitForm .phone_form, .submitForm textarea,
.applicationName, .applicationEmail, .applicationTelephone {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: left;
    font: 300 12px/1.3 "Roboto", sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-left: 15px;
    background: none;
}

.submitForm textarea {
    height: auto;
    min-height: 100px;
    max-height: 200px;
    font: 300 12px/3.3 "Roboto", sans-serif;

}

.submitForm .name_form:focus, .submitForm .email_form:focus, .submitForm .phone_form:focus, .submitForm textarea:focus,
.applicationName:focus, .applicationEmail:focus, .applicationTelephone:focus {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}



.keep{
    position:relative;
    height:600px;
}




.service_p1{
    font-size:20px;
    font-weight:400;
    padding-top:23px;
    text-transform: uppercase;text-align:center;color:#414371;
}
.numbers_01{
    height:70px;
    background: url(/img/01.png) no-repeat center center;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:20px;

}
.middle{ !important;
    font-size:24px;
    text-align:center;
    background:none;
}
.numbers_02{
    height:70px;
    background: url(/img/02.png) no-repeat center center;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:20px;

}
.numbers_03{
    height:70px;
    background: url(/img/03.png) no-repeat center center;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:20px;
}
.our_service_block{
    width:500px;
    margin:0 auto;
    color:#424370;
    text-align:center;
    padding-top:10px;
    font-size:17px;
}
.blue{
    background-color:#424370;
    position:relative;
}
.relative{
    position:relative;
}
.red{

    background-color:#834039;
    position:relative;
}
.get_adv{
    font-size:22px;
    color:#fff;
    text-align:center;
    padding-top:15px;
    font-weight:300;
}
.service_p2{
    font-size:20px;
    font-weight:600;
    text-align:center;
    color:#414371;
    padding-bottom:20px;
}
#top{
    height:5px;
    width:5px;
    position:absolute;
}
.artist {
    background: url(/img/102.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.service1 {
    background: url(/service/service1.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.service2 {
    background: url(/service/service2.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.service3 {
    background: url(/service/service3.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.artist8 {
    background: url(/img/129.jpg) no-repeat center;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.border_bottom{
    border-bottom:1px solid #ccc;
}
.hire{
    text-transform: uppercase;
    font-size:30px;
    font-weight:600;
    text-align:center;
    padding-top:10px;
    padding-bottom:50px;
    color:#fff;!important
}

.what_u_get_left{
    width:300px;
    left:0;
    margin:0 auto;
}
.what_u_get_left2{
    width:300px;
    left:0;

}
.view_blog p{
    font-size:24px;
    color:#fff;
    font-weight:600;
    text-transform: uppercase;
    text-align:center;
    padding-top:80px;
    position:relative;
}
.view_blog p a{
    color:#fff;
}
.view_blog{
    background:#414371;
    height:290px;
    position:relative;
}
.blog_bc_up{
    position:absolute;
    top:290px;
    width:100%;
    height:120px;
    background: url(/img/down.png);

    background-size: cover;
    background-position: center;
    z-index:-1;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
.bgvideo {
    position: relative;
    width: 100%;
    height:  auto;
    z-index: -9999;
}
.blog_bc_down{
    position:absolute;
    bottom:0;
    width:100%;
    height:120px;
    background: url(/img/down.png);

    background-size: cover;
    background-position: center;
    z-index:-1;
}
.learn_more{
    color:#fff;
    padding-top:15px;
}
.relative{
    position:relative;
}
.what_u_get_left{
    font-size:24px;
    color:#fff;
    text-align:center;
    padding-top:40px;
}
.what_u_get_right{
    font-size:24px;
    color:#fff;
    text-align:center;
    padding-top:50px;
    margin:0 auto;
}
.what_u_get_left_hr{
    border: none;

    color: #9c6661;
    background-color: #9c6661;
    height: 2px;
    margin:10px auto;
    margin-bottom:20px;
    width: 140px;

}
.what_u_get_left_hr2{
    border: none;

    color: #9c6661;
    background-color: #9c6661;
    height: 2px;
    left:0;
    margin-left:0;
    margin-bottom:20px;
    width: 140px;

}
.what_u_get_right_hr{
    border: none;
    color: #414371;
    background-color: #414371;
    height: 2px;
    margin:10px auto;
    width: 140px;

}
.meet_imza_number{
    font-size:30px;
    color:#414371;
    text-align:center;
    font-weight:600;
    padding-top:20px;
}
.title_contacts{
    font-size:20px;
    padding-top:30px;
    color:#424370;
    text-transform: uppercase;
    font-weight:400;
}
.describe_contacts{
    font-size:24px;
    color:#424370;
    font-weight:600;
}
.contact_block p{
    color:#424370;
    font-size:20px;
    text-align:left;

}
.contact_block{
    width:400px;
    margin-top:20px;
}
.footer_after{
    margin-bottom:80px;
}
.imza{
    color:#fff;text-align:left;padding-left:10px;position:absolute;
}
.back_to_top{
    color:#fff;text-align:right;
    padding-bottom:50px;
}
.contacts{
    margin:0 auto;
    width:300px;
}
.footer p{
    color: #fff;
    font-weight: 400;
    z-index: 999;
    padding-top:16px;
}
.meet_imza_text{
    font-size:20px;
    color:#414371;
    text-align:center;
    font-weight:400;
    padding-top:10px;
}
.padding_bottom{
    padding-bottom:50px;
}
.about_us_block{
    font-size: 23px;
    color: #414371;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}
.grey{
    background-color:#ececf0;
}
.after:before {
    content:"\00b7";
    font-size: 200px;
    text-align: center;
    line-height: 42px;
    color: #834039;
    float: right;
    right:-20px;
    position: relative;
    top: 30px;
}
.for_artist{
    height:440px;
}
.ready{
    font-size:24px;
    color:#ababbc;
    font-weight:400;
    padding-top:50px;
    text-align:center;
}
.artist7 {
    background: url(/img/img.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.testim1 {
    background: url(/testim/testim1.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.testim2 {
    background: url(/testim/testim2.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.testim3 {
    background: url(/testim/testim3.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}

.artist555{
    background: url(/img/About.jpg) no-repeat;
    height: 440px;
    width:100%;
    position: relative;
    background-size: cover;
    background-position: top;
}
.artist3 {
    background: url(/img/img.jpg) no-repeat center;
    height: 500px;
    width:100%;
    position: relative;
    background-size: cover
}

.artist28 {
    background: url(/img/129.jpg) no-repeat center;
    height: 500px;
    width:100%;
    position: relative;
    background-size: cover
}





h1{
    font-family: 'Arimo', sans-serif;
}
p {
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}


/*-----------------------*/

.row {
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.row .col {
    float: left;
    box-sizing: border-box;

}
.flickerplate {
    position: relative;
    width: 100%;
    height: 400px;

}

.flickerplate ul.flicks {
    width: 10000%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none
}

.flickerplate ul.flicks > li {
    float: left;
    width: 1%;
    height: 100%;

}

.flickerplate ul.flicks > li .flick-inner {
    height: 100%;
    color: #fff;
}

.flickerplate ul.flicks > li .company {
    font-size: 16px;
    text-align: center;
    color: #76787c;
    font-weight: 300;
    padding-top: 15px;
}

.flickerplate ul.flicks > li .flick-title {
    font-size: 19px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    padding-top: 30px;
}

.text2 {
    padding: 0px 0px;
    font-weight: 400;
    font-size: 46px;
    padding-bottom: 25px;
    padding-top: 100px;
    text-align: center;
    color: #fff;
}

.text3 {
    padding: 0px 0px;
    font-weight: 300;
    font-size: 35px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    color: rgb(56, 56, 56);
}

.flickerplate ul.flicks > li .text3 {
    padding: 0px 0px;
    font-size: 18px;
    text-align: left;
    color: #fff;;
    font-weight: 300;
    padding-top: 70px;
}

.up {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.up2 {
    padding: 0px 0 15px 0px;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: #fff;
}
.up10 {
    padding: 0px 0 15px 0px;
    font-weight: 500;
    font-size: 46px;
    text-align: center;
    color: #fff;
}


.up3 {
    padding: 0px 0px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.clients{
    overflow:hidden;
}
.up4 {
    padding: 50px 0 15px 0px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: rgb(71, 180, 235);;
}

.flickerplate .dot-navigation {
    position: absolute;
    bottom: 0;
    right:0;
    width: 50%;
    text-align: center;
    z-index: 100
}

.flickerplate .dot-navigation ul {
    text-align: center;
    list-style: none;
    padding: 0px 15px
}

.flickerplate .dot-navigation ul li {
    display: inline-block;
    float: none
}

.flickerplate .dot-navigation .dot {
    width: 14px;
    height: 14px;
    margin: 0px 6px;
    border: 1px solid #414371;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out
}

.flickerplate .dot-navigation .dot.active {
    background-color: #414371
}

.flickerplate.animate-transform-slide ul.flicks {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0%, 0px, 0px);
    -webkit-transform: translate3d(0%, 0px, 0px);
    -webkit-transition: -webkit-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s
}

.flickerplate.animate-transition-slide ul.flicks {
    position: relative;
    left: 0%;
    -webkit-transition: left 0.4s ease-out;
    -moz-transition: left 0.4s ease-out;
    -o-transition: left 0.4s ease-out;
    -ms-transition: left 0.4s ease-out;
    transition: left 0.4s ease-out
}

.flickerplate.animate-jquery-slide ul.flicks {
    position: relative;
    left: 0%
}

.flickerplate.animate-scroller-slide {
    padding-bottom: 0px;
    overflow: auto
}

.flickerplate.animate-scroller-slide ul.flicks {
    position: auto
}

.test3, .test4 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.clients{

}


.my-container-80{
    width:100%;
    margin:0 auto;
  overflow: hidden;
}

.row .col.s12 {
    width: 100%;
    margin-left: 0
}


.row .col.l3 {
    width: 25%;
}
.row .col.l33_footer {
    width: 25%;
}
.row .col.l25 {
    width: 20%;
}

.row .col.l100 {
    width: 20%;
}

.row .col.l2 {
    width: 16.66667%;
}

.row .col.l4 {
    width: 33.33333%;
    margin-left: 0;
}

.row .col.l8 {
    width: 66.66667%;
    margin-left: 0;
}

.row .col.l6 {
    width: 50%;
    margin-left: 0;
}

.row .col.lhalf {
    width: 50%;
    margin-left: 0;
}


.row .col.l1 {
    width: 33.33333%;
}

.row .col.l7 {
    width: 58.33333%;
    margin-left: 0
}

.row .col.l5 {
    width: 41.66667%;
    margin-left: 0
}
.tab-content > .tab-pane {
    display: none;
    visibility: hidden
}

.tab-content > .active {
    display: block;
    visibility: visible;
}
.fade{
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}

@media screen and (max-width: 700px) and (min-width: 300px){
    .cd-logo {
        left:0;
    }
    .languages{
        padding-right:30vw;
    }
}
@media screen and (max-width: 4000px) and (min-width: 960px) {
    .my-container{
        width:960px;
        margin:0 auto;
    }
}
@media screen and (max-width: 500px) and (min-width: 300px){

    .text_logo{
        display:none;
    }
}
@media screen and (max-width: 700px) and (min-width: 300px){
    .cd-logo {
        left:0;
    }
    .languages{
        padding-right:30vw;
    }
}
@media screen and (max-width: 550px) and (min-width: 300px){
    .row .col.l33_footer {
        width: 50%;
        margin-left: 0;
    }
    .row .col.lhalf {
        width: 100%;
        margin-left: 0;
    }
    .contacts{
        margin-left:0;
    }
}