











<style>
    textarea{
        background:none;
        width:100%;
        min-height:150px;
    }
    .alias{
        background:none;
        text-align:center;
    }

    .blog__inside_picture {
        background: url("/uploads/blog/<?=$data['id']['img']?>.jpg") no-repeat;
        height: 440px;
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: top;
        margin-bottom: 40px;
    }

</style>



<body>

<section>
    <form method="post" action="" enctype="multipart/form-data">
    <div class="title">
        <p> <input class="alias"  name="alias" value="<?=$data['page']['alias']?>"/></p>
    </div>

    <!-- Модальное окно 1 -->
    <div class="my-container">
        <input type="hidden" name="id" value="<?=$data['id']['id']?>"/>
        <input type="hidden" name="img" value="<?=$data['id']['img']?>"/>
        <div class="half_container">
            <p class="blog_inside_title"> <input type="text" id="title" name="title" value="<?=$data['page']['title']?>" class="" /></p>
            <p class="blog_inside_date"> <input type="text" id="alias" name="dt_creation" value="<?=$data['page']['dt_creation']?>"/></p>
            <p class="blog_inside_first_text"><textarea  name="text"><?=$data['page']['text']?></textarea></p>
        </div>
        <div class="blog__inside_picture">
            <label class="total" for="add_photo1"><div class="add"><img src="/img/add.png"></div></label>
            <input style="display:none;" name='add_photo1[]' id="add_photo1"  type='file' multiple='true'   min='1' max='10'  class="form-control"/>
        </div>
        <div class="half_container">
            <p class="blog_inside_first_text"><textarea  name="text2"><?=$data['page']['text2']?></textarea></p>

            <div class="blue">
                <div class="row">
                    <div class="col l2 m6 s12">
                        <span class="quo">&#8221;</span>
                    </div>
                    <div class="col l8 m6 s12">
                        <p class="theme"><textarea  name="quot"><?=$data['page']['quot']?></textarea></p>
                    </div>
                </div>
            </div>


            <p class="blog_inside_last_text"><textarea  name="text3"><?=$data['page']['text3']?></textarea></p>
        </div>
        <input type="submit" name="submit" class="submit button-02" value="SEND"/>
    </div>
    </form>
</section>
</body>

